force-app/main/default/flows/Case_Update_Language_and_Region.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <description>FSA-6112</description>
    <environments>Default</environments>
    <formulas>
        <name>AccountLanguageValue</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!$Record.Account.Language_Preference__c}),
&quot;en_US&quot;, &quot;English&quot;,
&quot;zh_CN&quot;, &quot;Simplified Chinese&quot;,
&quot;fr&quot;, &quot;French&quot;,
&quot;de&quot;, &quot;German&quot;,
&quot;ja&quot;, &quot;Japanese&quot;,
&quot;pl&quot;, &quot;Polish&quot;,
&quot;pt_BR&quot;, &quot;Portuguese&quot;,
&quot;es&quot;, &quot;Spanish&quot;,
&quot;ru&quot;, &quot;Russian&quot;,
&quot;ko&quot;, &quot;Korean&quot;,
&quot;id&quot;, &quot;Bahasa Indonesia&quot;,
&quot;ar&quot;, &quot;Arabic&quot;,
&quot;zh_TW&quot;, &quot;Traditional Chinese&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>LanguageValue</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!$Record.Lead__r.Language_Preference__c}),
&quot;en_US&quot;, &quot;English&quot;,
&quot;zh_CN&quot;, &quot;Simplified Chinese&quot;,
&quot;fr&quot;, &quot;French&quot;,
&quot;de&quot;, &quot;German&quot;,
&quot;ja&quot;, &quot;Japanese&quot;,
&quot;pl&quot;, &quot;Polish&quot;,
&quot;pt_BR&quot;, &quot;Portuguese&quot;,
&quot;es&quot;, &quot;Spanish&quot;,
&quot;ru&quot;, &quot;Russian&quot;,
&quot;ko&quot;, &quot;Korean&quot;,
&quot;id&quot;, &quot;Bahasa Indonesia&quot;,
&quot;ar&quot;, &quot;Arabic&quot;,
&quot;zh_TW&quot;, &quot;Traditional Chinese&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Case Update Language and Region {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Update Language and Region</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Capture Account Communication Language Value instead of Api Name</description>
        <name>Account_Language_Value_Formula</name>
        <label>Account Language Value Formula</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LeadLanguageValueFormula</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Language_Preference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountLanguageValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Country_Custom_Metadata</name>
        <label>Get Country Custom Metadata</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_using_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Web_Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CountrySettings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Capture Lead Language preference Value instead of Api Name</description>
        <name>LeadLanguageValueFormula</name>
        <label>Lead Language Value Formula</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Country_Custom_Metadata</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Language_Preference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LanguageValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_using_Account</name>
        <label>Update Case using Account</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Update_Case_using_Custom_Metadata_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AddressCountry__c</field>
            <value>
                <elementReference>$Record.Account.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AddressState__c</field>
            <value>
                <elementReference>$Record.Account.Billing_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <elementReference>AccountLanguageValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>$Record.Account.Billing_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_using_Custom_Metadata_Type</name>
        <label>Update Case using Custom Metadata Type</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Web_Country__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UI_Language__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <elementReference>$Record.UI_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Get_Country_Custom_Metadata.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_using_Lead</name>
        <label>Update Case using Lead</label>
        <locationX>176</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Update_Case_using_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AddressCountry__c</field>
            <value>
                <elementReference>$Record.Lead__r.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AddressState__c</field>
            <value>
                <elementReference>$Record.Lead__r.Billing_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <elementReference>LanguageValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>$Record.Lead__r.AddressRegion__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Language_Value_Formula</targetReference>
        </connector>
        <filterLogic>((1 AND 2 AND 3) OR (1 AND 2 AND 4 AND 5) OR (4 AND 6 AND 7 AND 8)) AND (9 OR 10) AND 11</filterLogic>
        <filters>
            <field>Web_Country__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UI_Language__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Web_Country__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UI_Language__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AddressCountry__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedById</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00e3k000000HHFL</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
