force-app/main/default/flows/Create_Cases_for_Unassigned_Assets_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_All_the_Order_values_to_case</name>
        <label>Assign All the Order values to case</label>
        <locationX>457</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>StoreCaseFields.CC_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreCaseFields.Related_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreCaseFields.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreCaseFields.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ccrz__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreCaseFields.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubjectFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreCaseFields.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_the_Queue_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreCaseFields.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revenue Impacting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreCaseFields.Secondary_Case_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Group Orders</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_case_for_unassigned_assets</targetReference>
        </connector>
    </assignments>
    <description>FSA-5484</description>
    <environments>Default</environments>
    <formulas>
        <name>SubjectFormula</name>
        <dataType>String</dataType>
        <expression>&apos;Unassigned Assets on Order: &apos;+{!$Record.Name}</expression>
    </formulas>
    <interviewLabel>Create Cases for Unassigned Assets Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Cases for Unassigned Assets Orders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_case_for_unassigned_assets</name>
        <label>Create case for unassigned assets</label>
        <locationX>633</locationX>
        <locationY>362</locationY>
        <inputReference>StoreCaseFields</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_the_Queue_Id</name>
        <label>get the Queue Id</label>
        <locationX>100</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_All_the_Order_values_to_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US_Group_order_queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_the_Queue_Id</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR (3 AND 4 AND 5)) AND 6</filterLogic>
        <filters>
            <field>ccrz__OrderStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Assets_Unassigned__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Assets_Unassigned__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Assets_Assigned__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__OrderStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>StoreCaseFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
