force-app/main/default/flows/Create_CC_Transaction_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <description>https://adtalem.atlassian.net/browse/FSA-2940
Standardized CC Transaction Payment input value</description>
    <dynamicChoiceSets>
        <name>Bank_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Bank__c</picklistField>
        <picklistObject>ccrz__E_TransactionPayment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentTypeNamePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Type_Name__c</picklistField>
        <picklistObject>Payment_Type_Mapping__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Write_Off_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Write_Off_Type__c</picklistField>
        <picklistObject>ccrz__E_TransactionPayment__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Provide the link to the newly created record with dynamic domain works in every environment.</description>
        <name>NewTransactionURLFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + &apos;lightning/r/ccrz__E_TransactionPayment__c/&apos; +  {!NewTransactionRecordId} + &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <description>Provide the link to the original CC Order record with dynamic domain works in every environment.</description>
        <name>OrderURLFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + &apos;lightning/r/ccrz__E_Order__c/&apos; + {!CCOrderId} + &apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>Create CC Transaction Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Create CC Transaction Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Transaction_Payment</name>
        <label>Create Transaction Payment</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>NewTransactionRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Result</targetReference>
        </connector>
        <inputAssignments>
            <field>Bank__c</field>
            <value>
                <elementReference>Bank</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capture_Error__c</field>
            <value>
                <stringValue>Created by {!$User.Username} via Create CC Transaction Payment Flow at {!$Flow.CurrentDateTime} {!$User.TimeZoneSidKey}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Write_Off_Type__c</field>
            <value>
                <elementReference>Write_Off_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__AccountNumber__c</field>
            <value>
                <elementReference>Account_Number_Credit_Card_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__AccountType__c</field>
            <value>
                <elementReference>Get_Payment_Type_Mapping.Account_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Account__c</field>
            <value>
                <elementReference>Get_Order_ID.ccrz__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Address__c</field>
            <value>
                <elementReference>Get_Order_ID.ccrz__BillTo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__BillTo__c</field>
            <value>
                <elementReference>Get_Order_ID.ccrz__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__CCOrder__c</field>
            <value>
                <elementReference>CCOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Contact__c</field>
            <value>
                <elementReference>Get_Order_ID.ccrz__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__CurrencyISOCode__c</field>
            <value>
                <elementReference>CurrencyISOCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__InvoiceAppliedFor__c</field>
            <value>
                <elementReference>Invoice_Applied_For.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__PaymentType__c</field>
            <value>
                <elementReference>Get_Payment_Type_Mapping.Payment_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__RequestAmount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__SoldTo__c</field>
            <value>
                <elementReference>Get_Order_ID.ccrz__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__SourceTransactionPayment__c</field>
            <value>
                <elementReference>Source_Transaction_Payment.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__StoredPayment__c</field>
            <value>
                <elementReference>Stored_Payment.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Storefront__c</field>
            <value>
                <stringValue>acams</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Token__c</field>
            <value>
                <elementReference>Token</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__TransactionCode__c</field>
            <value>
                <elementReference>Transaction_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__TransactionPaymentId__c</field>
            <value>
                <elementReference>Transaction_Payment_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__TransactionType__c</field>
            <value>
                <elementReference>Transaction_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__VerificationCode__c</field>
            <value>
                <elementReference>Verification_Code</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_TransactionPayment__c</object>
    </recordCreates>
    <recordLookups>
        <description>Get the current CC Order ID</description>
        <name>Get_Order_ID</name>
        <label>Get Order ID</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input_Transaction_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CCOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ccrz__E_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Type_Mapping</name>
        <label>Get Payment Type Mapping</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Transaction_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Payment_Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment_Type_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Input_Transaction_Payment</name>
        <label>Input Transaction Payment</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Payment_Type_Mapping</targetReference>
        </connector>
        <fields>
            <name>CCOrder</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ccrz__CCOrder__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>CC Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ccrz__E_TransactionPayment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CCOrderId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Payment_Type</name>
            <choiceReferences>PaymentTypeNamePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CurrencyISOCode</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>USD</stringValue>
            </defaultValue>
            <fieldText>CurrencyISOCode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Invoice_Applied_For</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ccrz__InvoiceAppliedFor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Invoice Applied For</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ccrz__E_TransactionPayment__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Transaction_Type</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>capture</stringValue>
            </defaultValue>
            <fieldText>Transaction Type</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Transaction Type must be one of capture, authorization, credit, unassigned, or duplicate&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Write_Off_Type</name>
            <choiceReferences>Write_Off_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Write-Off Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Payment_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Write-Off</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Bank</name>
            <choiceReferences>Bank_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Bank</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Payment_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>ACH</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Payment_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Wire Transfer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Payment_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Check/Cheque</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Transaction_Code</name>
            <dataType>String</dataType>
            <fieldText>Transaction Code</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Code associated with the transaction. For example, for a credit card this would be the specific transaction returned from a payment. This can also be WT/Check transaction ID.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Transaction_Payment_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Transaction_Payment_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Number_Credit_Card_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Account Number/Credit Card Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Account number of the payment. For credit cards, etc. this is the last 4.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Token</name>
                    <dataType>String</dataType>
                    <fieldText>Token</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Secure Tokenized form of the payment. CyberSource Authorization Token.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Transaction_Payment_Id</name>
                    <dataType>String</dataType>
                    <fieldText>Transaction Payment Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;CyberSource Transaction Request ID.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Verification_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Verification Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;CyberSource Authorization Request ID.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Stored_Payment</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ccrz__StoredPayment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Stored Payment</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ccrz__E_TransactionPayment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Payment_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Visa</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Payment_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>MasterCard</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Payment_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>American Express</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Payment_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Discover</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Source_Transaction_Payment</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ccrz__SourceTransactionPayment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Source Transaction Payment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ccrz__E_TransactionPayment__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result</name>
        <label>Result</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Description</name>
            <fieldText>&lt;p&gt;{!NewTransactionRecordId} was created successfully.  &lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!NewTransactionURLFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: transparent; color: var(--lwc-brandTextLink,rgb(1, 118, 211));&quot;&gt;Go to Transaction Payment&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!OrderURLFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: transparent; color: var(--lwc-brandTextLink,rgb(1, 118, 211));&quot;&gt;Go to Order&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Current CC Order ID that the CC Transaction Payment need to apply to.</description>
        <name>CCOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>the New CC Transaction Payment record ID created by the Flow.</description>
        <name>NewTransactionRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
