force-app/main/default/flows/Create_Cases_for_Business_Account_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_All_the_Order_values_to_case</name>
        <label>Assign All the Order values to case</label>
        <locationX>308</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>StoreCaseFields.CC_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreCaseFields.Related_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreCaseFields.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreCaseFields.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ccrz__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreCaseFields.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubjectFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreCaseFields.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_the_Queue_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreCaseFields.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revenue Impacting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreCaseFields.Secondary_Case_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Group Orders</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreCaseFields.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescriptionFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_case_for_Business_Account_Order</targetReference>
        </connector>
    </assignments>
    <description>FSA-6413.
This is to remind CSR to follow up with Sales to assign Assets created from new Business Account Orders.
Case is created 2 min after Order is created. This is to give System time to populate Opportunity on Order.</description>
    <environments>Default</environments>
    <formulas>
        <name>DescriptionFormula</name>
        <dataType>String</dataType>
        <expression>&apos;A new Order is created for Business Account: &apos;+ {!$Record.ccrz__Account__r.Name}</expression>
    </formulas>
    <formulas>
        <name>SubjectFormula</name>
        <dataType>String</dataType>
        <expression>&apos;Unassigned Assets on Order: &apos;+{!$Record.Name}</expression>
    </formulas>
    <interviewLabel>Create Cases for Business Account Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Cases for Business Account Orders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_case_for_Business_Account_Order</name>
        <label>Create case for Business Account Order</label>
        <locationX>308</locationX>
        <locationY>528</locationY>
        <inputReference>StoreCaseFields</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_the_Queue_Id</name>
        <label>get the Queue Id</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_All_the_Order_values_to_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US_Group_order_queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND (2 or 3 or 4)</filterLogic>
        <filters>
            <field>Account_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__OrderStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__OrderStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Refunded</stringValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__OrderStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Refunded - Credit</stringValue>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>delay_run</name>
            <connector>
                <targetReference>get_the_Queue_Id</targetReference>
            </connector>
            <label>delay run</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>StoreCaseFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
