force-app/main/default/flows/Create_Price_List_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <constants>
        <name>ProductID</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>How_many_price</name>
        <label>How many price?</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>One_Price</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Different_price_lists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Private_Member_Price_List_Item</targetReference>
            </connector>
            <label>One Price</label>
        </rules>
        <rules>
            <name>Multiple_Prices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Different_price_lists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Private_Member_Price_List_Item_0</targetReference>
            </connector>
            <label>Multiple Prices</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PriceListItemsURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_550})) + &apos;lightning/r/&apos; +  {!CCProductID.Id} + &apos;/related/ccrz__E_PriceListItems__r/view&apos;</expression>
    </formulas>
    <interviewLabel>Create Price List Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Price List Items</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Government_Member_Price_List_Item</name>
        <label>Government/Member Price List Item</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Government_Non_Member_Price_List_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>ccrz__EndDate__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Price__c</field>
            <value>
                <elementReference>One_Price_for_4_price_lists</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Pricelist__c</field>
            <value>
                <stringValue>a113k00000BIW9PAAX</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Product__c</field>
            <value>
                <elementReference>CCProductID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__StartDate__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_PriceListItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Government_Member_Price_List_Item_0</name>
        <label>Government/Member Price List Item</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Government_Non_Member_Price_List_Item_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ccrz__EndDate__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Price__c</field>
            <value>
                <elementReference>Government_Member</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Pricelist__c</field>
            <value>
                <stringValue>a113k00000BIW9PAAX</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Product__c</field>
            <value>
                <elementReference>CCProductID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__StartDate__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_PriceListItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Government_Non_Member_Price_List_Item</name>
        <label>Government/Non-Member Price List Item</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Result_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>ccrz__EndDate__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Price__c</field>
            <value>
                <elementReference>One_Price_for_4_price_lists</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Pricelist__c</field>
            <value>
                <stringValue>a113k00000BIW9NAAX</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Product__c</field>
            <value>
                <elementReference>CCProductID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__StartDate__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_PriceListItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Government_Non_Member_Price_List_Item_0</name>
        <label>Government/Non-Member Price List Item</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Result_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>ccrz__EndDate__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Price__c</field>
            <value>
                <elementReference>Government_Non_Member</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Pricelist__c</field>
            <value>
                <stringValue>a113k00000BIW9NAAX</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Product__c</field>
            <value>
                <elementReference>CCProductID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__StartDate__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_PriceListItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Private_Member_Price_List_Item</name>
        <label>Private/Member Price List Item</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Private_Non_Member_Price_List_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>ccrz__EndDate__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Price__c</field>
            <value>
                <elementReference>One_Price_for_4_price_lists</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Pricelist__c</field>
            <value>
                <stringValue>a113k00000BIW9RAAX</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Product__c</field>
            <value>
                <elementReference>CCProductID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__StartDate__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_PriceListItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Private_Member_Price_List_Item_0</name>
        <label>Private/Member Price List Item</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Private_Non_Member_Price_List_Item_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ccrz__EndDate__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Price__c</field>
            <value>
                <elementReference>Private_Member</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Pricelist__c</field>
            <value>
                <stringValue>a113k00000BIW9RAAX</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Product__c</field>
            <value>
                <elementReference>CCProductID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__StartDate__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_PriceListItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Private_Non_Member_Price_List_Item</name>
        <label>Private/Non-Member Price List Item</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Government_Member_Price_List_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>ccrz__EndDate__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Price__c</field>
            <value>
                <elementReference>One_Price_for_4_price_lists</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Pricelist__c</field>
            <value>
                <stringValue>a113k00000BIW9IAAX</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Product__c</field>
            <value>
                <elementReference>CCProductID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__StartDate__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_PriceListItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Private_Non_Member_Price_List_Item_0</name>
        <label>Private/Non-Member Price List Item</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Government_Member_Price_List_Item_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ccrz__EndDate__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Price__c</field>
            <value>
                <elementReference>Private_Non_Member</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Pricelist__c</field>
            <value>
                <stringValue>a113k00000BIW9IAAX</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Product__c</field>
            <value>
                <elementReference>CCProductID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__StartDate__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_PriceListItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Input_Screen</name>
        <label>Input Screen</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>How_many_price</targetReference>
        </connector>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <dateValue>2099-12-31</dateValue>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Different_price_lists</name>
            <dataType>Boolean</dataType>
            <fieldText>Different price lists</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>One_Price_for_4_price_lists</name>
            <dataType>Currency</dataType>
            <fieldText>One Price for 4 price lists</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Different_price_lists</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Private_Member</name>
                    <dataType>Currency</dataType>
                    <fieldText>Private/Member</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Private_Non_Member</name>
                    <dataType>Currency</dataType>
                    <fieldText>Private/Non-Member</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Government_Member</name>
                    <dataType>Currency</dataType>
                    <fieldText>Government/Member</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Government_Non_Member</name>
                    <dataType>Currency</dataType>
                    <fieldText>Government/Non-Member</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Different_price_lists</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_Screen</name>
        <label>Result Screen</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Result</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Click the following link to see the Price List Items&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!PriceListItemsURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;{!PriceListItemsURL}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CCProductID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Product__c</objectType>
    </variables>
</Flow>
