force-app/main/default/flows/Deactivate_Users_with_Last_Login_90_days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_After_Deactivation</name>
        <label>Send Email After Deactivation</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>DeactivationEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>ops@acams.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>DeactivationSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>X14_days_remaining_before_deactivation</name>
        <label>14 days remaining before deactivation</label>
        <locationX>314</locationX>
        <locationY>396</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ForteenDaysLeft</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>ops@acams.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ForteenDaysLeftSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Deactivate_User</name>
        <label>Deactivate User</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>$Record.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Last_Login_Date</name>
        <label>Check Last Login Date</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_Login_90_days_ago</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastLoginDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Ninety_Days_Ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.UserLicense.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>CreatedDateCheck</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_User</targetReference>
            </connector>
            <label>Last Login &lt;= 90 days ago</label>
        </rules>
        <rules>
            <name>Last_Login_76_days_ago</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastLoginDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Forteen_Days_Ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.UserLicense.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X14_days_remaining_before_deactivation</targetReference>
            </connector>
            <label>Last Login = 76 days ago</label>
        </rules>
    </decisions>
    <description>FSA-4292</description>
    <environments>Default</environments>
    <formulas>
        <name>CreatedDateCheck</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 7</expression>
    </formulas>
    <formulas>
        <name>Forteen_Days_Ago</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 76</expression>
    </formulas>
    <formulas>
        <name>Ninety_Days_Ago</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 90</expression>
    </formulas>
    <formulas>
        <description>Email of the deactivated user</description>
        <name>UserEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.Email}</expression>
    </formulas>
    <formulas>
        <description>User&apos;s first and last name</description>
        <name>UserName</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName} +&quot; &quot;+ {!$Record.LastName}</expression>
    </formulas>
    <interviewLabel>Deactivate Users with Last Login &lt;= 90 days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deactivate Users with Last Login &lt;= 90 days</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <connector>
            <targetReference>Send_Email_After_Deactivation</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Last_Login_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPortalEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User_Deactivation_Exception__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-08-24</startDate>
            <startTime>10:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DeactivationEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!UserName},&lt;/p&gt;&lt;p&gt;Your Salesforce access was deactivated due to inactivity. The system will automatically deactivate internal users who haven&apos;t logged into their account in the past 90 days. If you would like to resume your access, please go to Service now &lt;a href=&quot;https://atge.service-now.com/sp?id=sc_cat_item&amp;amp;sys_id=64dcc4b11b9934508b3dcb751a4bcb27&amp;amp;sysparm_category=a107e4831bd8fc10763d755e034bcb97&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Service Portal - Service Portal&lt;/a&gt; and request your Salesforce access to be reactivated.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>DeactivationSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Your Salesforce access was deactivated due to inactivity.</text>
    </textTemplates>
    <textTemplates>
        <name>ForteenDaysLeft</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!UserName}&lt;/p&gt;&lt;p&gt;This is a reminder that you haven&apos;t logged into Salesforce for 2 months. The system will automatically deactivate internal users who haven&apos;t logged into their account in the past 90 days. If you would like to keep your access, please log into Salesforce within the next 14 days.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ForteenDaysLeftSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Your Salesforce access will be deactivated due to inactivity.</text>
    </textTemplates>
</Flow>
