force-app/main/default/flows/Duplicate_CC_Invoice_Item_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_User_Set_Values</name>
        <label>Assign User Set Values</label>
        <locationX>743</locationX>
        <locationY>108</locationY>
        <assignmentItems>
            <assignToReference>Get_CC_Invoice_Item.ccrz__CCOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cloned_CC_Order.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CC_Invoice_Item.ccrz__CCOrderItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cloned_CC_Order_Item.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CC_Invoice_Item.ccrz__Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cloned_CC_Invoice.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CC_Invoice_Item.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CC_Invoice_Item.ccrz__OriginalAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Original_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CC_Invoice_Item.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CC_Invoice_Item.Tax_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CC_Invoice_Item.Seller_Tax_Registration_ID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CC_Invoice_Item.Imposition_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CC_Invoice_Item.Effective_Tax_Rate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewRecordID</name>
        <label>AssignNewRecordID</label>
        <locationX>1009</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>Newrecordid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CC_Invoice_Item.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LookupRecordtype</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CC_Order_Label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CC Order</stringValue>
        </value>
    </constants>
    <formulas>
        <name>NegativeOriginalAmount</name>
        <dataType>Currency</dataType>
        <expression>-{!Get_CC_Invoice_Item.Total_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewrecordURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;{!Newrecordid}</expression>
    </formulas>
    <interviewLabel>Duplicate CC Invoice Item Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Duplicate CC Invoice Item Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Record</name>
        <label>Create Record</label>
        <locationX>919</locationX>
        <locationY>84</locationY>
        <connector>
            <targetReference>AssignNewRecordID</targetReference>
        </connector>
        <inputReference>Get_CC_Invoice_Item</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_CC_Invoice_Item</name>
        <label>Get CC Invoice Item</label>
        <locationX>470</locationX>
        <locationY>81</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clone_for_Partial_Refund</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ccrz__E_InvoiceItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LookupRecordtype</name>
        <label>LookupRecordtype</label>
        <locationX>1177</locationX>
        <locationY>351</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Refunded_CC_Invoice_Item</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>NewRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record_Type</name>
        <label>Update Record Type</label>
        <locationX>1163</locationX>
        <locationY>182</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Newrecordid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>NewRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_InvoiceItem__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Clone_for_Partial_Refund</name>
        <label>Clone for Partial Refund</label>
        <locationX>604</locationX>
        <locationY>358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_User_Set_Values</targetReference>
        </connector>
        <fields>
            <name>Cloned_CC_Order</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ccrz__CCOrder__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>CC Order Cloned for Partial Refund</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ccrz__E_InvoiceItem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Cloned_CC_Order_Item</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ccrz__CCOrderItem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>CC Order Item Cloned for Partial Refund</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ccrz__E_InvoiceItem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Cloned_CC_Invoice</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ccrz__Invoice__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>CC Invoice Cloned for Partial Refund</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ccrz__E_InvoiceItem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_CC_Invoice_Item.ItemQuantity__c</elementReference>
            </defaultValue>
            <fieldText>Quantity Refunded</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Original_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>NegativeOriginalAmount</elementReference>
            </defaultValue>
            <fieldText>Refund Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>1283</locationX>
        <locationY>80</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NewClonedrecord</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!NewrecordURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Refunded CC Invoice Item: {!Newrecordid}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>49</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_CC_Invoice_Item</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Newrecordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>LookupRecordtype</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
