force-app/main/default/flows/LMS_ECU_Creation_upon_Completion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <description>FSA-4786, changed the update condition</description>
    <environments>Default</environments>
    <formulas>
        <name>Creditenddate</name>
        <dataType>Date</dataType>
        <expression>DATE(year({!$Record.Completed_On__c}) +3 ,month ({!$Record.Completed_On__c}),day ({!$Record.Completed_On__c}))</expression>
    </formulas>
    <formulas>
        <name>EventType</name>
        <dataType>String</dataType>
        <expression>{!EventType}</expression>
    </formulas>
    <interviewLabel>Create LMS ECU upon Completion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LMS ECU Creation upon Completion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ECU</name>
        <label>Create ECU</label>
        <locationX>776</locationX>
        <locationY>456</locationY>
        <assignRecordIdToReference>newECUId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_ECU_created</targetReference>
        </connector>
        <inputAssignments>
            <field>BeckerLMS_Enrollment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Account__r.PersonContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_End_Date__c</field>
            <value>
                <elementReference>Creditenddate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Start_Date__c</field>
            <value>
                <elementReference>$Record.Completed_On__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Value__c</field>
            <value>
                <elementReference>$Record.LMS_Course_Credits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ECU_Notes__c</field>
            <value>
                <stringValue>ACAMS LMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ECU_Product_Code__c</field>
            <value>
                <elementReference>$Record.ProductCode_for_CEU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ECU_Product_Description__c</field>
            <value>
                <elementReference>$Record.LMS_Course__r.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Earned_Date__c</field>
            <value>
                <elementReference>$Record.Completed_On__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <elementReference>EventType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Type__c</field>
            <value>
                <elementReference>$Record.Membership_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>ACAMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Self_Reported__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Educational_Credit_Unit_Legacy__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_ECU_created</name>
        <label>Update ECU created</label>
        <locationX>682</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>ECU_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Educational_Credit_Unit__c</field>
            <value>
                <elementReference>newECUId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6) AND (7 OR (8 AND (9 OR 10)))</filterLogic>
        <filters>
            <field>LMS_Course_Credits__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>ECU_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedById</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00e3k000000HHFL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Auto_create_ECU__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>GenerateCEU__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Product_code_containing_free__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Product_code_containing_free__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Membership_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>NON-MEMBER</stringValue>
            </value>
        </filters>
        <filters>
            <field>Premium_Webinar_Subscriber__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>BeckerLMS_Enrollment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Create_ECU</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <scheduledPaths>
            <name>Update_ECU_after_one_minit</name>
            <label>Update ECU after one minit</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newECUId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
