force-app/main/default/flows/Transfer_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Assignee depends on input, no Effective Date and Expiration Date</description>
        <name>Assgin_Values_to_Cert_Asset</name>
        <label>Assgin Values to Cert Asset</label>
        <locationX>822</locationX>
        <locationY>1000</locationY>
        <assignmentItems>
            <assignToReference>VarAsset.CreatedById</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.CreatedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.LastModifiedById</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.LastModifiedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Enterprise_Welcome_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Enterprise_Renewal_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.OFAC_Screening__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.EAD_created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Application_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Application_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Certification_Approved_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.SG_AML_REGIME_Exam_Application_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transferred by {!$User.Username} via Transfer Asset Flow at {!$Flow.CurrentDateTime} {!$User.TimeZoneSidKey}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Event_Registration_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Years_of_Experience__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Special_Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Special_Services_Request__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Purchase_Reference__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Purchase_Reference_Other__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Dietary_Restrictions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Dietary_Restrictions_Request__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Consent_Opt_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Consent_Opt_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.S_E_Consent_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.S_E_Data_Sharing_Consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.S_E_Data_Sharing_Consent_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Hubb_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Hubb_Id__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Hubb_User_Id__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Member_ID_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Name_Prefix_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.First_Name_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Last_Name_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Job_Title_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Company_Name_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Industry_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Email_Address_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Secondary_Email_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Contact_Street_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Contact_Country_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Contact_State_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Contact_City_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Contact_Zip_Code_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Contact_Phone_Number_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Customizable_Email_Push__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Account.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Badge_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Welcome_Email_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Time_based_emails_sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Assignee.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.CurrentExpirationDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Has Assignee and Effective from Today</description>
        <name>Assgin_Values_to_New_Asset</name>
        <label>Assgin Values to New Asset</label>
        <locationX>681</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>VarAsset.CreatedById</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.CreatedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.LastModifiedById</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.LastModifiedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Enterprise_Welcome_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Enterprise_Renewal_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.OFAC_Screening__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.EAD_created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Application_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Application_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Certification_Approved_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.SG_AML_REGIME_Exam_Application_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transferred by {!$User.Username} via Transfer Asset Flow at {!$Flow.CurrentDateTime} {!$User.TimeZoneSidKey}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Event_Registration_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Years_of_Experience__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Special_Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Special_Services_Request__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Purchase_Reference__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Purchase_Reference_Other__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Dietary_Restrictions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Dietary_Restrictions_Request__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Consent_Opt_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Consent_Opt_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.S_E_Consent_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.S_E_Data_Sharing_Consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.S_E_Data_Sharing_Consent_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Hubb_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Hubb_Id__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Hubb_User_Id__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Member_ID_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Name_Prefix_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.First_Name_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Last_Name_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Job_Title_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Company_Name_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Industry_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Email_Address_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Secondary_Email_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Contact_Street_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Contact_Country_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Contact_State_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Contact_City_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Contact_Zip_Code_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Contact_Phone_Number_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Customizable_Email_Push__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Account.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Badge_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Welcome_Email_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Time_based_emails_sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Assignee.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>No Assignee and no Effective Date</description>
        <name>No_Assignee_Asset</name>
        <label>No Assignee Asset</label>
        <locationX>487</locationX>
        <locationY>1005</locationY>
        <assignmentItems>
            <assignToReference>VarAsset.CreatedById</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.CreatedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.LastModifiedById</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.LastModifiedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Enterprise_Welcome_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Enterprise_Renewal_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.OFAC_Screening__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.EAD_created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Application_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Application_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Certification_Approved_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.SG_AML_REGIME_Exam_Application_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transferred by {!$User.Username} via Transfer Asset Flow at {!$Flow.CurrentDateTime} {!$User.TimeZoneSidKey}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Event_Registration_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Years_of_Experience__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Special_Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Special_Services_Request__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Purchase_Reference__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Purchase_Reference_Other__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Dietary_Restrictions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Dietary_Restrictions_Request__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Consent_Opt_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Consent_Opt_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.S_E_Consent_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.S_E_Data_Sharing_Consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.S_E_Data_Sharing_Consent_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Hubb_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Hubb_Id__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Hubb_User_Id__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Member_ID_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Name_Prefix_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.First_Name_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Last_Name_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Job_Title_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Company_Name_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Industry_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Email_Address_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Secondary_Email_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Contact_Street_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Contact_Country_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Contact_State_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Contact_City_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Contact_Zip_Code_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Contact_Phone_Number_Eloqua__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Customizable_Email_Push__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Account.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Badge_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Welcome_Email_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Time_based_emails_sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Assignee__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAsset.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Asset</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Cancel</name>
        <choiceText>Cancel</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Expire</name>
        <choiceText>Expire</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Check_Asset_consumed</name>
        <label>Check Asset consumed</label>
        <locationX>571</locationX>
        <locationY>183</locationY>
        <defaultConnector>
            <targetReference>Input_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EAD_is_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarAsset.EAD_created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EAD_validation</targetReference>
            </connector>
            <label>EAD is created</label>
        </rules>
        <rules>
            <name>consumed</name>
            <conditionLogic>1 OR 2 OR 3 OR (4 AND 5) OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14</conditionLogic>
            <conditions>
                <leftValueReference>VarAsset.Attended__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarAsset.LMS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarAsset.ExamResult__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VarAsset.Product_level_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recertification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarAsset.CurrentExpirationDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VarAsset.CC_Order__r.ccrz__OrderStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarAsset.CC_Order__r.ccrz__OrderStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refunded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarAsset.CC_Order__r.ccrz__OrderStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refunded - Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarAsset.Cancel_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VarAsset.CancelDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VarAsset.CC_Order_Item__r.ccrz__OrderItemStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarAsset.CC_Order_Item__r.ccrz__OrderItemStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refunded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarAsset.CC_Order_Item__r.ccrz__OrderItemStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refunded - Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarAsset.Invitation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cancel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Transfer</targetReference>
            </connector>
            <label>consumed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Expire_or_Cancel_Decision</name>
        <label>Expire or Cancel Decision</label>
        <locationX>572</locationX>
        <locationY>501</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cert_Asset_Flow</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VarAsset.Product_level_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarAsset.Product_level_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recertification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cert_Asset</targetReference>
            </connector>
            <label>Cert Asset Flow</label>
        </rules>
        <rules>
            <name>Cancel_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cancel</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Current_Asset</targetReference>
            </connector>
            <label>Cancel Flow</label>
        </rules>
        <rules>
            <name>ExpireFlow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expire</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expire_Current_Asset</targetReference>
            </connector>
            <label>Expire Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_New_Assignee</name>
        <label>Has New Assignee?</label>
        <locationX>574</locationX>
        <locationY>826</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Assignee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Assignee.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assgin_Values_to_New_Asset</targetReference>
            </connector>
            <label>Has Assignee</label>
        </rules>
        <rules>
            <name>No_Assignee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Assignee.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Assignee_Asset</targetReference>
            </connector>
            <label>No Assignee</label>
        </rules>
    </decisions>
    <description>https://adtalem.atlassian.net/browse/FSA-606</description>
    <dynamicChoiceSets>
        <name>Cancel_Reason_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cancel_Reason__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Provide the link to the Asset record with dynamic domain works in every environment.</description>
        <name>AssetURLFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + &quot;lightning/r/Asset/&quot; + {!VarAsset.Id} + &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>Cancel_or_Expire</name>
        <dataType>String</dataType>
        <expression> IF( {!Cancel}={!Cancel} , &quot;Cancel&quot;, &quot;Expire&quot;)</expression>
    </formulas>
    <formulas>
        <name>Yesterday</name>
        <dataType>Date</dataType>
        <expression>TODAY() + (-1)</expression>
    </formulas>
    <interviewLabel>Transfer Asset by {!$User.Username} via Transfer Asset Flow at {!$Flow.CurrentDateTime} {!$User.TimeZoneSidKey}</interviewLabel>
    <label>Transfer Asset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Asset</name>
        <label>Create New Asset</label>
        <locationX>680</locationX>
        <locationY>1231</locationY>
        <connector>
            <targetReference>Result</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>VarAsset</inputReference>
    </recordCreates>
    <recordUpdates>
        <description>Input Cancel Date on the Asset</description>
        <name>Cancel_Current_Asset</name>
        <label>Cancel Current Asset</label>
        <locationX>362</locationX>
        <locationY>825</locationY>
        <connector>
            <targetReference>Has_New_Assignee</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Cancel_Current_fail</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CancelDate__c</field>
            <value>
                <elementReference>Expire_Cancel_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancel_Reason__c</field>
            <value>
                <elementReference>Expire_Cancel_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentExpirationDate__c</field>
            <value>
                <elementReference>Expire_Cancel_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Cancelled by {!$User.Username} via Transfer Asset Flow at {!$Flow.CurrentDateTime} {!$User.TimeZoneSidKey}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date__c</field>
            <value>
                <elementReference>Expire_Cancel_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invitation_Status__c</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LMS_Access_Exp_Date__c</field>
            <value>
                <elementReference>Expire_Cancel_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LMS_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <description>Cancel Date is null on the Asset</description>
        <name>Expire_Current_Asset</name>
        <label>Expire Current Asset</label>
        <locationX>582</locationX>
        <locationY>699</locationY>
        <connector>
            <targetReference>Has_New_Assignee</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Current_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancel_Reason__c</field>
            <value>
                <elementReference>Expire_Cancel_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentExpirationDate__c</field>
            <value>
                <elementReference>Expire_Cancel_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Cancelled by {!$User.Username} via Transfer Asset Flow at {!$Flow.CurrentDateTime} {!$User.TimeZoneSidKey}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date__c</field>
            <value>
                <elementReference>Expire_Cancel_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invitation_Status__c</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LMS_Access_Exp_Date__c</field>
            <value>
                <elementReference>Expire_Cancel_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LMS_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <description>Effective Date and Expiration Date are null on Cert Asset</description>
        <name>Update_Cert_Asset</name>
        <label>Update Cert Asset</label>
        <locationX>830</locationX>
        <locationY>501</locationY>
        <connector>
            <targetReference>Assgin_Values_to_Cert_Asset</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Current_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarAsset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CancelDate__c</field>
            <value>
                <elementReference>Expire_Cancel_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancel_Reason__c</field>
            <value>
                <elementReference>Expire_Cancel_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentExpirationDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Cancelled by {!$User.Username} via Transfer Asset Flow at {!$Flow.CurrentDateTime} {!$User.TimeZoneSidKey}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>LMS_Access_Exp_Date__c</field>
            <value>
                <elementReference>Expire_Cancel_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LMS_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <screens>
        <name>Cancel_Current_fail</name>
        <label>Cancel_Current_fail</label>
        <locationX>207</locationX>
        <locationY>825</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Cancel_Current_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!$Label.Cencel_Asset_Error}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Flow: Transfer Asset&lt;/p&gt;&lt;p&gt;Cancel or Expire?: {!Cancel_or_Expire}&lt;/p&gt;&lt;p&gt;User: {!$User.Username}&lt;/p&gt;&lt;p&gt;Step Failed: Cancel Current Asset Fail&lt;/p&gt;&lt;p&gt;Record Link: {!VarAsset.Id}&lt;/p&gt;&lt;p&gt;New Account: {!New_Account.recordId}&lt;/p&gt;&lt;p&gt;New Assignee: {!New_Assignee.recordId}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current Record: {!$Flow.CurrentRecord}&lt;/p&gt;&lt;p&gt;CurrentStage: {!$Flow.CurrentStage}&lt;/p&gt;&lt;p&gt;ActiveStages: {!$Flow.ActiveStages}&lt;/p&gt;&lt;p&gt;CurrentDateTime: {!$Flow.CurrentDateTime}&lt;/p&gt;&lt;p&gt;InterviewStartTime: {!$Flow.InterviewStartTime}&lt;/p&gt;&lt;p&gt;InterviewGuid: {!$Flow.InterviewGuid}&lt;/p&gt;&lt;p&gt;FaultMessage: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_Transfer</name>
        <label>Cannot Transfer</label>
        <locationX>746</locationX>
        <locationY>181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Validation_Fail</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This asset does not meet validation!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!$Label.Cannot_Transfer}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!AssetURLFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Go back to the Asset&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EAD_validation</name>
        <label>EAD validation</label>
        <locationX>405</locationX>
        <locationY>181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Check_EAD_process</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!$Label.EAD_created}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!AssetURLFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;Go back to the Asset&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>422</locationX>
        <locationY>1234</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>No_Assignee_Asset</targetReference>
        </connector>
        <fields>
            <name>New_Record_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!$Label.Transfer_Asset_Error}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Flow: Transfer Asset&lt;/p&gt;&lt;p&gt;Cancel or Expire?: {!Cancel_or_Expire}&lt;/p&gt;&lt;p&gt;User: {!$User.Username}&lt;/p&gt;&lt;p&gt;Step Failed: Create New Asset fail&lt;/p&gt;&lt;p&gt;Record Link: {!VarAsset.Id}&lt;/p&gt;&lt;p&gt;New Account: {!New_Account.recordId}&lt;/p&gt;&lt;p&gt;New Assignee: {!New_Assignee.recordId}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current Record: {!$Flow.CurrentRecord}&lt;/p&gt;&lt;p&gt;CurrentStage: {!$Flow.CurrentStage}&lt;/p&gt;&lt;p&gt;ActiveStages: {!$Flow.ActiveStages}&lt;/p&gt;&lt;p&gt;CurrentDateTime: {!$Flow.CurrentDateTime}&lt;/p&gt;&lt;p&gt;InterviewStartTime: {!$Flow.InterviewStartTime}&lt;/p&gt;&lt;p&gt;InterviewGuid: {!$Flow.InterviewGuid}&lt;/p&gt;&lt;p&gt;FaultMessage: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Screen</name>
        <label>Input Screen</label>
        <locationX>580</locationX>
        <locationY>379</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Expire_or_Cancel_Decision</targetReference>
        </connector>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;{!$Label.Cannot_Transfer}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Asset_to_be_transfer</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!VarAsset.CC_Product__r.Name} to be transfer&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Expire_or_Cancel</name>
            <choiceReferences>Cancel</choiceReferences>
            <choiceReferences>Expire</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Expire or Cancel?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expire_Cancel_Reason</name>
            <choiceReferences>Cancel_Reason_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Expire/Cancel Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expire_Cancel_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Yesterday</elementReference>
            </defaultValue>
            <fieldText>Expire/Cancel Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Asset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>VarAsset.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>New_Assignee</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Assignee__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New Assignee</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Asset</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result</name>
        <label>Result</label>
        <locationX>680</locationX>
        <locationY>1372</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Result_Description</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 18px; background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;;&quot;&gt;{!VarAsset.Name} was canceled or expired and a new Asset is created.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!AssetURLFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(68, 68, 68); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Go to New Asset&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Current_Error</name>
        <label>Update_Current_Error</label>
        <locationX>917</locationX>
        <locationY>701</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Update_Current_Error_Message</name>
            <fieldText>&lt;p&gt;{!$Label.Update_Asset_Error}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Flow: Transfer Asset&lt;/p&gt;&lt;p&gt;Cancel or Expire?: {!Cancel_or_Expire}&lt;/p&gt;&lt;p&gt;User: {!$User.Username}&lt;/p&gt;&lt;p&gt;Step Failed: Update Current Asset Fail&lt;/p&gt;&lt;p&gt;Record Link: {!VarAsset.Id}&lt;/p&gt;&lt;p&gt;New Account: {!New_Account.recordId}&lt;/p&gt;&lt;p&gt;New Assignee: {!New_Assignee.recordId}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current Record: {!$Flow.CurrentRecord}&lt;/p&gt;&lt;p&gt;CurrentStage: {!$Flow.CurrentStage}&lt;/p&gt;&lt;p&gt;ActiveStages: {!$Flow.ActiveStages}&lt;/p&gt;&lt;p&gt;CurrentDateTime: {!$Flow.CurrentDateTime}&lt;/p&gt;&lt;p&gt;InterviewStartTime: {!$Flow.InterviewStartTime}&lt;/p&gt;&lt;p&gt;InterviewGuid: {!$Flow.InterviewGuid}&lt;/p&gt;&lt;p&gt;FaultMessage: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>453</locationX>
        <locationY>43</locationY>
        <connector>
            <targetReference>Check_Asset_consumed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
