force-app/main/default/flows/Update_Business_Hours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SLA</name>
        <label>SLA</label>
        <locationX>1298</locationX>
        <locationY>1319</locationY>
        <actionName>DateTimeUtility_Modified</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Second_Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>increment</name>
            <value>
                <elementReference>Get_SLA.SLA_in_milliseconds__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>BusinessHours.addGmt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BizHrId</name>
            <value>
                <elementReference>$Record.BusinessHoursId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateTimeString</name>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Error</assignToReference>
            <name>errorOccured</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Error_Message</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Action_Result</assignToReference>
            <name>result</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>DateTime</assignToReference>
            <name>resultdatetime</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Account_Region</name>
        <label>Check Account Region</label>
        <locationX>1290</locationX>
        <locationY>633</locationY>
        <defaultConnector>
            <targetReference>Americas_Business_Hours</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>APAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Billing_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APAC_Business_Hours</targetReference>
            </connector>
            <label>APAC</label>
        </rules>
        <rules>
            <name>Americas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Billing_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Americas_Business_Hours</targetReference>
            </connector>
            <label>Americas</label>
        </rules>
        <rules>
            <name>EMEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Billing_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EMEA_Business_HOurs</targetReference>
            </connector>
            <label>EMEA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SLA_Value</name>
        <label>Check SLA Value</label>
        <locationX>1289</locationX>
        <locationY>1136</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SLA_null_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SLA.SLA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLA</targetReference>
            </connector>
            <label>SLA null check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Source</name>
        <label>Check Source</label>
        <locationX>1289</locationX>
        <locationY>389</locationY>
        <defaultConnector>
            <targetReference>Check_Account_Region</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_APAC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - Australasia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - Australasian Chapter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - Hong Kong chapter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - Jakarta Chapter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - Japan Chapter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - Macau Chapter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - Philippine chapter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - Singapore chapter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - South India chapter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - Taiwan chapter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - India Chapter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - Asia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APAC_Business_Hours</targetReference>
            </connector>
            <label>Email - APAC</label>
        </rules>
        <rules>
            <name>Email_EMEA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - Europe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EMEA_Business_HOurs</targetReference>
            </connector>
            <label>Email - EMEA</label>
        </rules>
    </decisions>
    <description>Auto change the Business Hours when a case is created.</description>
    <formulas>
        <name>Covert_to_DateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Action_Result})</expression>
    </formulas>
    <interviewLabel>Update Business Hours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Business Hours</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SLA</name>
        <label>Get SLA</label>
        <locationX>1295</locationX>
        <locationY>152</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Secondary_Case_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Secondary_Case_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_SLA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Americas_Business_Hours</name>
        <label>Americas Business Hours</label>
        <locationX>1297</locationX>
        <locationY>836</locationY>
        <connector>
            <targetReference>Check_SLA_Value</targetReference>
        </connector>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m3k0000000F7vAAE</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>APAC_Business_Hours</name>
        <label>APAC Business Hours</label>
        <locationX>979</locationX>
        <locationY>840</locationY>
        <connector>
            <targetReference>Check_SLA_Value</targetReference>
        </connector>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m3k0000005c57AAA</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>EMEA_Business_HOurs</name>
        <label>EMEA Business HOurs</label>
        <locationX>1607</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Check_SLA_Value</targetReference>
        </connector>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m3k0000005c52AAA</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Second_Update</name>
        <label>Second Update</label>
        <locationX>1302</locationX>
        <locationY>1468</locationY>
        <inputAssignments>
            <field>Target_Close_Date__c</field>
            <value>
                <elementReference>DateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>759</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>Get_SLA</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Action_Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
