force-app/main/default/flows/Update_Exam_Result_Information_on_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Certification_Level</name>
        <label>Certification Level</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Exam_Result_Pass_or_Fail_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Associate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset__r.CC_Product__r.Certification_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Associate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exam_Result_Pass_or_Fail</targetReference>
            </connector>
            <label>Associate</label>
        </rules>
        <rules>
            <name>Regime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset__r.CC_Product__r.Certification_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regime Exam</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exam_result_Pass_or_Fail_Regime</targetReference>
            </connector>
            <label>Regime</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exam_Result_Pass_or_Fail</name>
        <label>Exam Result Pass or Fail</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Associate_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fail</defaultConnectorLabel>
        <rules>
            <name>Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Result__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>pas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Associate_Level_Asset_with_Exam_Result</targetReference>
            </connector>
            <label>Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exam_Result_Pass_or_Fail_Default</name>
        <label>Exam Result Pass or Fail - Default</label>
        <locationX>1238</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Default_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fail</defaultConnectorLabel>
        <rules>
            <name>Pass_Default</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Result__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>pas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Exam_Result_Information_on_Asset_Default</targetReference>
            </connector>
            <label>Pass - Default</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exam_result_Pass_or_Fail_Regime</name>
        <label>Exam Result Pass or Fail - Regime</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Regime_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fail</defaultConnectorLabel>
        <rules>
            <name>Pass_Regime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Result__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Pas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Regime_Asset_with_Exam_Result_Information</targetReference>
            </connector>
            <label>Pass - Regime</label>
        </rules>
    </decisions>
    <description>Changed the update condition</description>
    <environments>Default</environments>
    <formulas>
        <name>AssociateLevelExpirationDateLogic</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Test_Date__c},12)</expression>
    </formulas>
    <formulas>
        <name>CurrentExpirationDefault</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(DATE(YEAR( {!$Record.Test_Date__c}  ) , 12,15) ,36)</expression>
    </formulas>
    <formulas>
        <name>CurrentExpirationforRegime</name>
        <dataType>Date</dataType>
        <expression>DATE(2099,12,15)</expression>
    </formulas>
    <interviewLabel>Update Exam Result Information on Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Exam Result Information on Asset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Associate_Default</name>
        <label>Associate - Default</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ExamResult__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exam_Result_for_Exp_date__c</field>
            <value>
                <elementReference>$Record.Result__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Default_Update</name>
        <label>Default Update</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ExamResult__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exam_Result_for_Exp_date__c</field>
            <value>
                <elementReference>$Record.Result__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Regime_Default</name>
        <label>Regime - Default</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ExamResult__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exam_Result_for_Exp_date__c</field>
            <value>
                <elementReference>$Record.Result__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Associate_Level_Asset_with_Exam_Result</name>
        <label>Update Associate Level Asset with Exam Result</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Certification_Exam_Passed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentExpirationDate__c</field>
            <value>
                <elementReference>AssociateLevelExpirationDateLogic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date__c</field>
            <value>
                <elementReference>$Record.Test_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExamResult__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exam_Result_for_Exp_date__c</field>
            <value>
                <elementReference>$Record.Result__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exam_Schedule_Date__c</field>
            <value>
                <elementReference>$Record.Test_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Exam_Result_Information_on_Asset_Default</name>
        <label>Update Exam Result Information on Asset - Default</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Certification_Exam_Passed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentExpirationDate__c</field>
            <value>
                <elementReference>CurrentExpirationDefault</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date__c</field>
            <value>
                <elementReference>$Record.Test_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExamResult__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exam_Result_for_Exp_date__c</field>
            <value>
                <elementReference>$Record.Result__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exam_Schedule_Date__c</field>
            <value>
                <elementReference>$Record.Test_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Regime_Asset_with_Exam_Result_Information</name>
        <label>Update Regime Asset with Exam Result Information</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Certification_Exam_Passed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentExpirationDate__c</field>
            <value>
                <elementReference>CurrentExpirationforRegime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date__c</field>
            <value>
                <elementReference>$Record.Test_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExamResult__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exam_Result_for_Exp_date__c</field>
            <value>
                <elementReference>$Record.Result__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exam_Schedule_Date__c</field>
            <value>
                <elementReference>$Record.Test_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Certification_Level</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asset__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Result__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Exam_Results__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
