force-app/main/default/flows/Update_Case_Target_Close_Date_based_on_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Pending_Categorization_with_SLA</name>
        <label>Pending Categorization with SLA</label>
        <locationX>1686</locationX>
        <locationY>353</locationY>
        <actionName>DateTimeUtility_Modified</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Case_Record_update_with_PC_SLA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>increment</name>
            <value>
                <elementReference>Get_SLA.PC_MilleSec_SLA__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>BusinessHours.addGmt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BizHrId</name>
            <value>
                <elementReference>$Record.BusinessHoursId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateTimeString</name>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Error</assignToReference>
            <name>errorOccured</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Error_Message</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Action_Result</assignToReference>
            <name>result</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>DateTime</assignToReference>
            <name>resultdatetime</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>SLA</name>
        <label>SLA</label>
        <locationX>1165</locationX>
        <locationY>361</locationY>
        <actionName>DateTimeUtility_Modified</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Case_record_Update_with_SLA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>increment</name>
            <value>
                <elementReference>Get_SLA.SLA_in_milliseconds__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>BusinessHours.addGmt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BizHrId</name>
            <value>
                <elementReference>$Record.BusinessHoursId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateTimeString</name>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Error</assignToReference>
            <name>errorOccured</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Error_Message</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Action_Result</assignToReference>
            <name>result</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>DateTime</assignToReference>
            <name>resultdatetime</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Pending_Categorization</name>
        <label>Checking Pending Categorization</label>
        <locationX>1411</locationX>
        <locationY>358</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Pending_Categorization_is_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pending_Categorization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLA</targetReference>
            </connector>
            <label>If Pending Categorization is false</label>
        </rules>
        <rules>
            <name>If_Pending_Categorization_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pending_Categorization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Categorization_with_SLA</targetReference>
            </connector>
            <label>If Pending Categorization is true</label>
        </rules>
    </decisions>
    <description>This trigger only calls, when Updateing a Case, based on type we updating target close date</description>
    <environments>Default</environments>
    <formulas>
        <name>Covert_to_DateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Action_Result})</expression>
    </formulas>
    <interviewLabel>Update Target Close Date based on Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Case - Target Close Date based on Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SLA</name>
        <label>Get SLA</label>
        <locationX>1419</locationX>
        <locationY>156</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Pending_Categorization</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Secondary_Case_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Secondary_Case_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SLA__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_SLA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Case_Record_update_with_PC_SLA</name>
        <label>Case Record update with PC SLA</label>
        <locationX>1689</locationX>
        <locationY>507</locationY>
        <inputAssignments>
            <field>Target_Close_Date__c</field>
            <value>
                <elementReference>DateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Case_record_Update_with_SLA</name>
        <label>Case record Update with SLA</label>
        <locationX>1169</locationX>
        <locationY>510</locationY>
        <inputAssignments>
            <field>Target_Close_Date__c</field>
            <value>
                <elementReference>DateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>815</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_SLA</targetReference>
        </connector>
        <filterFormula>AND(
    OR(ISCHANGED({!$Record.Type}),ISCHANGED({!$Record.Secondary_Case_Type__c})),	
	OR(!ISPICKVAL({!$Record.Status}, &apos;Closed&apos;), !ISPICKVAL({!$Record.Status}, &apos;Closed-Spam&apos;), !ISPICKVAL({!$Record.Status}, &apos;Dormant&apos;)),
	AND(			
		NOT(ISPICKVAL({!$Record.Secondary_Case_Type__c}, &apos;Closed due to no response&apos;)), 
		NOT(ISPICKVAL({!$Record.Secondary_Case_Type__c}, &apos;Handled in another case&apos;)), 
		NOT(ISPICKVAL({!$Record.Secondary_Case_Type__c}, &apos;No Action Required from CS&apos;))
	)
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Action_Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
