force-app/main/default/flows/Update_Destination_Country_Full_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <description>Update Destination Country Full Name on Invoice and Invoice Item</description>
    <environments>Default</environments>
    <formulas>
        <name>DestinationCountryfrom2and3digitcode</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Invoice_Item_Record_Based_on_the_ID.Destination_Country__c}=&apos;United Arab Emirates&apos; || {!Get_Invoice_Item_Record_Based_on_the_ID.Destination_Country__c}=&apos;AE&apos; || {!Get_Invoice_Item_Record_Based_on_the_ID.Destination_Country__c}=&apos;ARE&apos;  , &apos;United Arab Emirates&apos;, IF({!Get_Invoice_Item_Record_Based_on_the_ID.Destination_Country__c}=&apos;South Africa&apos; || {!Get_Invoice_Item_Record_Based_on_the_ID.Destination_Country__c}=&apos;ZA&apos; || {!Get_Invoice_Item_Record_Based_on_the_ID.Destination_Country__c}=&apos;ZAF&apos;  , &apos;South Africa&apos;, IF({!Get_Invoice_Item_Record_Based_on_the_ID.Destination_Country__c}=&apos;Oman&apos; || {!Get_Invoice_Item_Record_Based_on_the_ID.Destination_Country__c}=&apos;OM&apos; || {!Get_Invoice_Item_Record_Based_on_the_ID.Destination_Country__c}=&apos;OMN&apos;  , &apos;Oman&apos;,IF({!Get_Invoice_Item_Record_Based_on_the_ID.Destination_Country__c}=&apos;Saudi Arabia&apos; || {!Get_Invoice_Item_Record_Based_on_the_ID.Destination_Country__c}=&apos;SA&apos; || {!Get_Invoice_Item_Record_Based_on_the_ID.Destination_Country__c}=&apos;SAU&apos;  , &apos;Saudi Arabia&apos;,IF({!Get_Invoice_Item_Record_Based_on_the_ID.Destination_Country__c}=&apos;Bahrain&apos; || {!Get_Invoice_Item_Record_Based_on_the_ID.Destination_Country__c}=&apos;BH&apos; || {!Get_Invoice_Item_Record_Based_on_the_ID.Destination_Country__c}=&apos;BHR&apos;  , &apos;Bahrain&apos;,{!Get_Invoice_Item_Record_Based_on_the_ID.Destination_Country__c} )))))</expression>
    </formulas>
    <formulas>
        <name>Invoice2and3DigitCode</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Invoice_Record_based_on_the_ID.Destination_Country__c}=&apos;United Arab Emirates&apos; || {!Get_Invoice_Record_based_on_the_ID.Destination_Country__c}=&apos;AE&apos; || {!Get_Invoice_Record_based_on_the_ID.Destination_Country__c}=&apos;ARE&apos;  , &apos;United Arab Emirates&apos;, IF({!Get_Invoice_Record_based_on_the_ID.Destination_Country__c}=&apos;South Africa&apos; || {!Get_Invoice_Record_based_on_the_ID.Destination_Country__c}=&apos;ZA&apos; || {!Get_Invoice_Record_based_on_the_ID.Destination_Country__c}=&apos;ZAF&apos;  , &apos;South Africa&apos;, IF({!Get_Invoice_Record_based_on_the_ID.Destination_Country__c}=&apos;Oman&apos; || {!Get_Invoice_Record_based_on_the_ID.Destination_Country__c}=&apos;OM&apos; || {!Get_Invoice_Record_based_on_the_ID.Destination_Country__c}=&apos;OMN&apos;  , &apos;Oman&apos;,IF({!Get_Invoice_Record_based_on_the_ID.Destination_Country__c}=&apos;Saudi Arabia&apos; || {!Get_Invoice_Record_based_on_the_ID.Destination_Country__c}=&apos;SA&apos; || {!Get_Invoice_Record_based_on_the_ID.Destination_Country__c}=&apos;SAU&apos;  , &apos;Saudi Arabia&apos;,IF({!Get_Invoice_Record_based_on_the_ID.Destination_Country__c}=&apos;Bahrain&apos; || {!Get_Invoice_Record_based_on_the_ID.Destination_Country__c}=&apos;BH&apos; || {!Get_Invoice_Record_based_on_the_ID.Destination_Country__c}=&apos;BHR&apos;  , &apos;Bahrain&apos;,{!Get_Invoice_Record_based_on_the_ID.Destination_Country__c})))))</expression>
    </formulas>
    <interviewLabel>Update Destination Country Full Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Destination Country Full Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Invoice_Item_Record_Based_on_the_ID</name>
        <label>Get Invoice Item Record Based on the ID</label>
        <locationX>176</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Invoice_Record_based_on_the_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invoice_Item_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ccrz__E_InvoiceItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Record_based_on_the_ID</name>
        <label>Get Invoice Record based on the ID</label>
        <locationX>176</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Destination_Country_Full_Name_on_Invoice_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invoice_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ccrz__E_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Destination_Country_Full_Name_on_Invoice</name>
        <label>Update Destination Country Full Name on Invoice</label>
        <locationX>176</locationX>
        <locationY>554</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invoice_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Destination_Country_Full_Name__c</field>
            <value>
                <elementReference>Invoice2and3DigitCode</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Destination_Country_Full_Name_on_Invoice_Item</name>
        <label>Update Destination Country Full Name on Invoice Item</label>
        <locationX>176</locationX>
        <locationY>434</locationY>
        <connector>
            <targetReference>Update_Destination_Country_Full_Name_on_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invoice_Item_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Destination_Country_Full_Name__c</field>
            <value>
                <elementReference>DestinationCountryfrom2and3digitcode</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_InvoiceItem__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Invoice_Item_Record_Based_on_the_ID</targetReference>
        </connector>
        <object>Invoice_Item_Created_Updated__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
